:root{
	--border: 214 18% 94%;
	--input: 220 14% 96%;
	--ring: 215 20% 65%;
	--background: 0 0% 100%;
	--foreground: 222 47% 11%;
	--primary: 222 47% 11%;
	--primary-foreground: 0 0% 100%;
	--secondary: 210 40% 96%;
	--secondary-foreground: 220 13% 18%;
	--destructive: 0 84% 60%;
	--muted: 210 16% 82%;
	--accent: 240 14% 96%;
	--radius: 0.5rem;
}

/* Smooth fonts and default base sizing like shadcn */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


